<!DOCTYPE html>
			
	<html>
		<head>
			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">Curriculum Vitae</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/tutorial">Tutorials</a><li>
	    		</ul>
			</nav>
			<div class="container">
			
			<div class="hero-image">
			</div>
				
				
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="mailto:brandonhoenig@gmail.com">Email</a></li>
				<li><a href="https://twitter.com/BrandonHoenig">Twitter</a></li>
			<li><a href="https://scholar.google.com/citations?user=NJRF2CoAAAAJ&hl=en">Google Scholar</a></li>
			</ul>
		</footer>
	</body>
</html>
